<!DOCTYPE html>
<html>
<head>
  <title>Welcome To UMDC</title>
  <%= stylesheet_link_tag    "custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="/javascripts/memory.js" /></script>
</head>
<body>

<h1>Welcome to UMDC. Play Michigan Memory.</h1>
<class="image">
<body>
  <div id="container">
  	<div id="user_nav">
  		<% if current_user %>
  		  Signed in as <%= current_user.name %>
  		  <%= link_to "Sign out", signout_path %>
  		<% else %>
  		  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  	  <% end %>
  	</div>

  <p class="scoreboard">
    Score:<span id="score">0</span>
    Clicks:<span id="clicks">0</span>
  </p>


<div id="board">
  </div>

  <div id="images" style="display:none">
    <%= image_tag "diagm.jpeg" %>
    <%= image_tag "michigan words.jpeg" %>
    <%= image_tag "michiganlogo.jpg" %>
    <%= image_tag "skinsuit.jpg" %>
    <%= image_tag "squirrel.jpg" %>
    <%= image_tag "um_seal.gif" %>
    <%= image_tag "umlogo.jpg" %>
    <%= image_tag "Wolverine.jpg" %>
  </div>

<%= yield %>

</body>
</html>
